body {
  margin: 0;
  background-color: rgba(255,255,255,1);
  font-family: Verdana, Geneva, sans-serif;
}

    button {
    background-color: rgba(28,28,28,0.4);
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
	}
	
	.cError{ font-size:1.4vh; color: rgba(255,50,50,1); }

    input[type=text], select,textarea {
    width: 100%;
	color:white;
	background-color:rgba(50,50,50,0.2);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
	border-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    box-sizing: border-box;
    }
	input[type=password], select {
    width: 100%;
	color:white;
	background-color:rgba(50,50,50,0.2);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.1);
	border-color: rgba(255,255,255,0.2);
    border-radius: 4px;
    box-sizing: border-box;
    }
	input[type=submit], select {
    width: 100%;
	color:white;
	background-color:rgba(50,50,50,0.2);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(50,50,50,0.2);
	border-color: rgba(50,50,50,0.2);
    border-radius: 1px;
    box-sizing: border-box;
    }
	#submitButton
    { 		  
		display: block;
        color: rgba(255,255,255,1);
        background-color: rgba(28,28,28,0.7);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
		border-color: rgba(255,255,255,0); 


    }
	#submitButton:hover
	{
	background-color: rgba(255,255,255,0.4); 
	}	