#sign-in-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sign-in-page main img {
  height: 192px;
  width: 192px;
  display: block;
  margin: 0 auto -40px;
}
#sign-in-page main form {
  padding: 80px 40px 40px;
  background-color: rgba(28,28,28,0.4);
  text-align: center;
}
#sign-in-page main form label {
  color: white;
  font-size: 20px;
}
#sign-in-page main form input[type=text],
#sign-in-page main form input[type=password] {
  color: white;
  background-color: rgba(50,50,50,0.2);
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#sign-in-page main form input[type=submit] {
  border: none;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
}
#sign-in-page main form a {
  text-decoration: none;
  cursor: default;
}
#sign-in-page main form input[type=submit],
#sign-in-page main form a {
  background-color: rgba(28,28,28,0.4);
  color: white;
  padding: 14px 16px;
  display: block;
  font-size: 20px;
}
#sign-in-page main form input[type=submit]:hover,
#sign-in-page main form a:hover {
  background-color: rgba(255,255,255,0.4);
}
