/* previously header code is now used from /assets/css/style-voli.css */ 

main {
  height: calc(100vh - 47px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#pet-select-page header a {
  text-decoration: none;
}
#pet-select-page header a:hover {
  background-color: #111;
}

#pet-select-page #main-content img {
  border-bottom: none;
}
  /* #pet-create-page header */
  /*  */
.container-element {
  max-height: 350px;
  display: inline-block;
}
.container-element p {
  font-size: 20px;
  align-self: center;
}

#pet-select-page header a {
  text-decoration: none;
}
#pet-select-page header a:hover {
  background-color: #111;
}
#pet-select-page header a,
#pet-select-page header .available-points {
  display: inline-block;

  color: #fff;
  padding: 14px 16px;
  font-size: 16px;
}
#pet-select-page header button,
  header nav {
    float: none;
  }
  header nav {
    display: inline-block;
  }

#pet-select-page main {
  height: calc(80vh - 47px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 980px) {
  header {
    text-align: center;
  }
  header ul,
  #pet-home-page header button,
  header nav {
    float: none;
  }
  header nav {
    display: inline-block;
  }
  main {
    height: auto;
    margin: 40px 0;
  }
  #left-side,
  #right-side {
    position: relative;
    transform: none;
    margin-bottom: 30px;
  }
  #pet-home-page #left-side {
    left: 5%;
    width: 35%;
    float: left;
  }
  #pet-home-page #right-side {
    right: 5%;
    width: 50%;
    float: right;
  }
  #pet-create-page #left-side {
    left: 0;
    width: 60%;
    margin: 0 auto 30px;
  }
  #pet-create-page #body-parts-container {
    width: 60%;
    margin: 0 auto;
  }
  #pet-create-page #right-side {
    right: 0;
    width: 90%;
    margin: 0 auto 30px;
  }
  #pet-create-page #right-side table,
  #pet-create-page #right-side button {
    width: 60%;
  }
  #pet-create-page #right-side table {
    margin: 0 auto 30px;
  }
  #pet-create-page #right-side button {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 760px) {
  #pet-create-page #body-parts-container {
    width: 80%;
  }
}
@media only screen and (max-width: 580px) {
  header ul li:first-child {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  header {
    padding: 0;
  }
  header ul li,
  header button,
  header nav a,
  #pet-create-page header a,
  #pet-create-page header .available-points {
    padding: 14px 10px;
    font-size: 14px;
  }
  #main-content img,
  #pet-create-page #main-content input {
    width: 100%;
    max-width: 400px;
  }
  #left-side button {
    font-size: 15px;
    padding: 14px 6px;
  }
  #right-side .stats-bar {
    font-size: 15px;
  }
  #pet-create-page #left-side {
    width: 90%;
  }
  #pet-create-page #right-side table,
  #pet-create-page #right-side button {
    width: 100%;
  }
}