*:focus {
  outline: none;
}
header {
  overflow: hidden;
  background-color: #333;
  padding: 0 40px;
}
header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
}
header ul li,
header button,
header nav a {
  display: inline-block;
  color: #fff;
  padding: 14px 16px;
  font-size: 16px;
}
header button {
  border: 0;
  font-family: Verdana, Geneva, sans-serif;
  background-color: transparent;
  cursor: pointer;
}
header button,
header nav {
  float: right;
}
header button:hover,
header nav a:hover {
  background-color: #111;
}
header nav a {
  text-decoration: none;
}

main {
  height: calc(100vh - 47px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-content {
  text-align: center;
}
#main-content img {
  width: 400px;
  display: block;
}
#pet-animation {
  margin-bottom: 10px
}
#pet-animation img:not(:last-child) {
  position: absolute;
  animation: pet-animation 0.6s infinite ease-in-out;
}
#pet-animation img:nth-child(1) {
  animation-delay: -1.0s;
}
#pet-animation img:nth-child(2) {
  animation-delay: -1.1s;
}
@keyframes pet-animation{
  0% {
   transform: translate(0%,0%);
  }
  20% {
   transform: translate(0%,1%);
  }
}
#main-content h1,
#main-content h2 {
  margin: 0;
  color: #111;
}
#main-content h1 {
  padding: 20px 0 10px;
  border-top: 2px solid #111;
}

#left-side,
#right-side {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#left-side {
  width: 150px;
  left: 25px;
}
#left-side button {
  display: block;
  width: 100%;
  color: #333;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  padding: 14px 16px;
  border-color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
}
#left-side button:not(:last-child) {
  margin-bottom: 16px;
}
#left-side button:hover {
  color: #fff;
  background-color: #111;
}
#right-side {
  width: 250px;
  right: 25px;
}
#right-side .stats-bar-container {
  padding: 2px;
  border: 2px solid #333;
  border-color: #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#right-side .stats-bar-container:not(:last-child) {
  margin-bottom: 16px;
}
#right-side .stats-bar {
  color: #333;
  font-size: 20px;
  text-align: center;
  padding: 12px 14px;
  background-color: #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#pet-create-page header a {
  text-decoration: none;
}
#pet-create-page header a:hover {
  background-color: #111;
}
#pet-create-page header a,
#pet-create-page header .available-points {
  display: inline-block;
  float: left;
  color: #fff;
  padding: 14px 16px;
  font-size: 16px;
}
#pet-create-page #main-content img {
  padding-bottom: 10px;
  border-bottom: 2px solid #111;
}
#pet-create-page #main-content input {
  margin-top: 20px;
  text-align: center;
  border: 0;
  color: #111;
  font-size: 2em;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  width: 400px;
}
#pet-create-page #left-side {
  width: 250px;
  max-height: 50%;
  overflow-y: auto;
}
#pet-create-page #left-side::-webkit-scrollbar {
  display: none;
}
#pet-create-page #left-side img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 980px) {
  header {
    text-align: center;
  }
  header ul,
  header button,
  header nav {
    float: none;
  }
  header nav {
    display: inline-block;
  }
  main {
    height: auto;
    margin: 40px 0;
  }
  #left-side,
  #right-side {
    position: relative;
    transform: none;
    margin-bottom: 30px;
  }
  #left-side {
    left: 5%;
    width: 35%;
    float: left;
  }
  #right-side {
    right: 5%;
    width: 50%;
    float: right;
  }
}
@media only screen and (max-width: 480px) {
  header {
    padding: 0;
  }
  header ul li,
  header button,
  header nav a {
    padding: 14px 10px;
    font-size: 14px;
  }
  #main-content img {
    width: 100%;
    max-width: 400px;
  }
  #left-side button {
    font-size: 15px;
    padding: 14px 6px;
  }
  #right-side .stats-bar {
    font-size: 15px;
  }
}
